.dark-toggle {
    display: flex; }

#toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    user-select: none;
    border-radius: 50px;
    background-color: var(--black); }
input {
    visibility: hidden; }

body.dark {
    background-color: #2d2e30; }

body.dark p,
body.dark .logo a,
body.dark .menu-list li a,
body.dark .icon,
body.dark section,
body.dark aside .sosmed li a {
    color: var(--white); }

body.dark #toggle {
    background-color: var(--white); }

body.dark nav,
body.dark .menu-list,
body.dark .button,
body.dark .paragraph,
body.dark aside .sosmed li,
body.dark footer {
    background-color: var(--black); }

body.dark .button p,
body.dark section {
    background-color: #38393A; }